.container {
  margin-top: 50px;
  margin-bottom: 150px;
}

.navbar {
  margin-top: 15px;
}

h1 {
  font-size: xxx-large;
  font-weight: bolder;
}

p {
  font-size: large;
  font-weight: 600;
}

.btn {
  height: 50px;
  width: 200px;
  background-color: green;
  border-radius: 30px;
  color: white;
  font-size: large;
  font-weight: 500;
  box-shadow: 2px 2px 2px gray;
}

.col-3 {
  margin: 0px;
  padding: 20px;
  border: none;
  height: 300px;
  width: 250px;
  text-align: center;
  padding-top: 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px gray;
}

.col-3:hover {
  background-color: rgb(78, 144, 153);
  color: white;
  cursor: pointer;
}

.col-mid-4 {
  margin: 0px 30px 0px 30px;
}

.col-4 img {
  border: 1px solid rgb(19, 133, 89);
  border-radius: 50%;
}

.bottom {
  height: 300px;
  width: auto;
}

.card {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
